fastapi
uvicorn

python-dotenv
python-multipart
requests

pdfplumber
python-docx
camelot-py[cv]

sentence-transformers
torch

faiss-cpu
numpy

langchain
langchain-text-splitters

pydantic
groq

flask
jinja2

google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib

pyyaml
markdown
